<ion-header>
    <ion-toolbar >
      <ion-title style="text-align:center">
        <h1>Whey</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-card>
        <ion-item>
          <div>
            <img src="https://d2vq4s943o8cb4.cloudfront.net/Custom/Content/Products/05/67/0567_whey-gold-100-optimum-nutrition-213_z4_636715950440177970.png">
          </div>
          <h2>Whey Protein Concentrado 1KG (GOLD).</h2>
        </ion-item>
        <ion-card-content>
          <p>A verdadeira força do Whey Protein
              100% Whey Gold Standard é um alimento protéico indicado para quem realiza exercícios, atividades físicas ou dietas com o objetivo de ganhar massa muscular magra.
          </p>
          <hr>
          <p>
              Esta proteína é extraída do soro do leite. Este composto possui um alto valor biológico, sendo absorvido rapidamente pelo organismo, além de ser rico em aminoácidos essenciais como o BCAA, elemento diretamente ligado ao aumento e a construção dos músculos.
          </p>
        </ion-card-content>
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              <a href="https://www.submarino.com.br/produto/43335775?WT.srch=1&acc=d47a04c6f99456bc289220d5d0ff208d&epar=bp_pl_00_go_pla_sup_geral_gmv&gclid=EAIaIQobChMIkOSaoPzB4gIVEQaRCh34aQi9EAUYAiABEgIFevD_BwE&i=5a5060beeec3dfb1f8ad31bd&o=5babe0e8ebb19ac62cb96dbf&opn=XMLGOOGLE&sellerId=15620790000185"><ion-button color="dark" (click)="showAlert()">Comprar <ion-icon name="card"></ion-icon></ion-button></a>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    <ion-card>
        <ion-item>
          <div>
            <img src="https://d2vq4s943o8cb4.cloudfront.net/Custom/Content/Products/06/41/0641_whey-protein-isolate-concentrate-ultra-premium-go-nutrition-3460_z3_636656019631783118.png">
          </div>
          <h2>WHEY ISOLATE CONCENTRATE ULTRA PREMIUM (GO NUTRITION).</h2>
        </ion-item>
        <ion-card-content>
          <p>
              PROTEÍNA PREMIUM
Durante a prática de exercícios físicos – principalmente os de alto impacto e que exigem muito esforço –, é bastante comum que as fibras musculares sofram desgaste devido ao processo catabólico.

Para minimizar os danos que ocorrem nos treinos e ajudar a tornar os músculos mais definidos e mais fortes, a GO Nutrition desenvolveu o Whey Protein Isolate Concentrate Ultra Premium, um suplemento de altíssima qualidade fabricado com matéria-prima importada, resultante da combinação perfeita de Whey Protein Concentrado (WPC) e Whey Protein Isolado (WPI).

          </p>
          <hr>
          <p>
             
          </p>
        </ion-card-content>
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              <a href="https://www.lojadosuplemento.com.br/whey-protein-isolate-concentrate-ultra-premium-go-nutrition-3460-p641?pp=/40.240/"><ion-button color="dark" (click)="showAlert()">Comprar <ion-icon name="card"></ion-icon></ion-button></a>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    <ion-card>
        <ion-item>
          <div>
            <img src="https://d2vq4s943o8cb4.cloudfront.net/Custom/Content/Products/14/55/14550227_whey-protein-isolate-black-series-go-nutrition-6862_l7_636929261986756273.png">
          </div>
          <h2>WHEY ISOLATE BLACK SERIES (GO NUTRITION).</h2>
        </ion-item>
        <ion-card-content>
          <p>
              Quem pratica exercícios físicos regularmente, principalmente musculação e esportes de alto desempenho, tem como objetivo, geralmente, reduzir gordura corporal e aumentar massa magra para fins de definição. Nesses casos, consumir Whey Protein junto a uma dieta balanceada é extremamente benéfico para potencializar os resultados.

              Isso porque as proteínas são as principais responsáveis pelo crescimento e desenvolvimento muscular, e o suplemento Whey Protein é rico em valor proteico. Como muitos alimentos fontes desse nutriente, o Whey Protein Isolate - Black Series da GO Nutrition atua de forma natural no organismo, porém, com a diferença de ser bem mais eficiente e concentrado.
          </p>
          <hr>
          <p>
             
          </p>
        </ion-card-content>
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              <a href="https://www.lojadosuplemento.com.br/whey-protein-isolate-concentrate-ultra-premium-go-nutrition-3460-p641?pp=/40.240/"><ion-button color="dark" (click)="showAlert()">Comprar <ion-icon name="card"></ion-icon></ion-button></a>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>

      
</ion-content>
