.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-button{
  position:relative;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-50px;
}

.topo{
  position: fixed;
  left: 42%;
  top: 0%;
}

ion-content {
  --background: none;
  background-image: url('/assets/10.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
}
